*{
    margin: 0;
		padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100%;
    background-color: #fffafa;
}

section .cabecalho{
    padding:10px 2% 10px 2%;
    background-color: #eeeeee;
    color: #1c2d59;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.fa{
    font-style: italic;
    padding-left: 20px;
    font-size: 12px;
}

.faright{
    float: right;
    padding-left: 20px;
    font-size: 12px;
}

.fa-phone{
    margin-top: 4px;
}

header div.logo{
    background-image: url(../images/logo_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 15vh;
    width: 40vh;
}

.container{
	width: 100%;
	max-width: 1680px;
	margin:0 auto;
}

.clear{
	clear: both;
}

header nav{
	float: right;
    margin-top: -80px;
}

header nav ul{
	list-style-type: none;
}

header nav ul li{
	float: left;
	font-size: 20px;
	padding:0 20px;
}

header nav a{
    color: #1c2d59;
    text-decoration: none;
}

/*
.slider{
    position: relative;
    width: 100%;
    max-width: 1700px;
    height: 80%;
    max-height: 700px;
    margin: 0 auto;
}

.slider img{
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}
*/

.slider{
    position: relative;
    width: 100%;
    max-width: 1700px;
    height: 80%;
    max-height: 700px;
    margin: 0 auto;
}

.slider img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}



section.chamada-1, .container{
    text-align: center;
    position: relative;
    max-width: 1700px;
    max-width: 1680px;
	margin:0 auto;
}

.w25{
    width: 20%;
    display: inline-block;
    margin-top: 15px;
    border: 2px solid #eeeeee;
}

.valores{
    text-align: center;
    color: black;
    font-size: 15px;
  }
  
.chamada-3{
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 20px;
    transform: translateX(0%);
    max-width: 1300px;
    margin: 0 auto;
    font-size: 17px;
}

.chamada-3 ul, li{
    list-style-type: none;
    margin-bottom: 5px;
}
  
.plano-1, .plano-2, .plano-3, .plano-4{
    border: 2px solid rgb(200,200,200);
    padding: 10px;
    color: #1c2d59;
    background-color: #fe7214;
    height: 245px;
    width: 300px;
    max-width: 300px;
}

section.chamada-5{
    transform: translateX(0%);
    max-width: 1275px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.chamada-5 h2{
    background-color: #ffa41b;
    width: 43%;
    float: left;
    height: 30vh;
    color: #1c2d59;
    padding: 25px;
    margin-bottom: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    
}
  
  .img-1{
    background-image: url(../images/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 55%;
    width: 57%;
    float: right;
    height: 30vh;
    margin-bottom: 40px;
}

section.chamada-4{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1276px;
    top: 60px;
    color: #1c2d59;
    font-size: 13px;
}

.box-chamada-4{
    background-image: url(../images/img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 1276px;
    height: 50vh;
    margin-bottom: 100px;
}

.chamada-4 h2{
  margin-left: 50px;
  background-color: #ffa41b;
  width: 40%;
  color: #1c2d59;
  max-width: 500px;
  height: 50vh;
  padding: 25px;
  opacity: 95%;
  display: flex;
  align-items: center;
}

section.chamada-6{
    transform: translateX(0%);
    max-width: 1275px;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.chamada-6 h2{
    background-color: #ffa41b;
    width: 43%;
    float: left;
    height: 60vh;
    color: #1c2d59;
    padding: 25px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }
  
.img-3{
    background-image: url(../images/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 55%;
    width: 57%;
    float: right;
    height: 30vh;
}

.img-4{
    background-image: url(../images/img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 55%;
    width: 57%;
    float: right;
    height: 30vh;
}

footer{
    width: 100%;
    background-color: #ffa41b;
}

footer ul li{
    cursor: pointer;
}


.container-footer{
    text-align: center;
    font-size: 15px;
}

.w20{
    width: 20%;
    display: inline-block;
    margin-top: 15px;
}

.container-footer p{
    color: #1c2d59;
    font-size: 20px;
    margin-bottom: 15px;
}

.bloco-4{
    
}

.itens-footer{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}




@media screen and (max-width: 1115px){

    .fa{
        padding-left: 10px;
        font-size: 10px;
    }
    
    .faright{
        padding-left: 10px;
        font-size: 10px;
    }

    nav{
        font-size: 10px;
    }

    section .valores, .chamada-3, .plano-1{
        font-size: 15px;
    }

}

@media screen and (max-width: 950px){

    header nav ul li{
        font-size: 15px;
        margin-top: 10px;
        padding:0 10px;
    }

    .fa{
        padding-left: 10px;
        font-size: 9px;
    }
    
    .faright{
        padding-left: 10px;
        font-size: 9px;
    }

    .chamada-4, .box-chamada-4, .chamada-5, .chamada-6{
        font-size: 12px;
    }

    header div.logo{
        background-image: url(../images/logo_1_pequena.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10px;
        height: 14vh;
        width: 38vh;
    }

}

@media screen and (max-width: 855px){

    header nav ul li{
        font-size: 13px;
        display: inline-block;
        padding:0 7px;
    }

    .fa{
        padding-left: 10px;
        font-size: 8px;
    }
    
    .faright{
        padding-left: 10px;
        font-size: 8px;
    }

    section .valores, .chamada-3, .plano-1{
        font-size: 13px;
    }
}